{% extends 'Base.html.twig' %}

{% block contenido %}
	<div class="row">
		<br>
		<div class="col-md-12" style="text-align:center">
		
		
		<br>
			<h1>Bienvenido</h1>
			<h2>Gracias por utilizar SISGESAC</h2>
			<h2>Departamento de Informática</h2>
			<br>
			<img src="recursos/imgPropias/fotos/iut.png" style="height:100px;"></img>
		</div>
	</div>
{% endblock %}
